* text=auto eol=crlf

*.sh text eol=lf
*.py text eol=lf

*.epf binary
*.erf binary
*.ert binary
*.cf binary
*.cfe binary
*.dt binary
*.1cd binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.bmp binary
*.zip binary
*.7z binary
*.gz binary
